* {
    margin: 0;
    padding: 0;
}

.slider-img-1,
.slider-img-2,
.slider-img-3 {
    filter: brightness(40%);
}

.course-title {
    margin-top: 100px;
}

.student-title {
    margin-top: 70px;
}

.explre-container {
    background-color: #F4FAFD;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.explre-container .row {
    margin-left: calc(-1 * var(--bs-gutter-x));
}

/* Mdedia Query */
@media screen and (max-width: 576px) {

    .carousel-caption h2 {
        margin-bottom: 10px !important;
        font-size: 16px;
    }

    .carousel-caption p {
        margin-bottom: 15px !important;
        font-size: 10px;
    }

    br {
        display: none;
    }

    .course-title {
        margin-top: 0;
        margin-bottom: 10px !important;
    }

    .course-title h1 {
        font-size: 20px;
    }

    .explre-container .row {
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

    .explre-container img {
        margin-bottom: 15px;
    }

    .counter-1 {
        padding: auto;
    }

    .join {
        display: block !important;
    }

    .join-text {
        text-align: center;
        padding-left: 0 !important;
    }

    .join-button {
        margin-left: 48px;
        text-align: center;
    }

    .student-title {
        margin-top: 0;
        text-align: center;
    }

    .stu-title {
        text-align: center;
    }

    .question-title {
        margin-top: 0 !important;
    }

    .acordion-body {
        width: 100% !important;
    }

    .accordion-body {
        padding: 0;
        padding-top: 15px;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    br {
        display: none;
    }

    .course-title {
        margin-top: 0;
        margin-bottom: 10px !important;
    }

    .course-title h1 {
        font-size: 20px;
    }

    .explre-container .row {
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

    .explore-content {
        padding-left: 0 !important;
        padding-top: 7px;
    }

    .explore-content p {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100px;
    }

    .explore-content h1 {
        font-size: 27px;
    }

    .explore-counter {
        white-space: normal;
        padding-left: 0 !important;
    }

    .counter-1,
    .counter-2 {
        margin-right: 0 !important;
    }

    .counter-1 p {
        font-size: 13px;
        font-weight: bold;
    }

    .counter-2 p {
        font-size: 13px;
        font-weight: bold;
    }

    .counter-3 p {
        font-size: 13px;
        font-weight: bold;
    }

    .join {
        display: flex;
        flex-direction: column;
    }

    .join-text {
        text-align: center;
    }

    .join-button {
        padding-right: 0 !important;
        text-align: center;
    }

    .student-title {
        margin-top: 0;
        margin-bottom: 0 !important;
    }

    .question-title {
        margin-top: 0 !important;
    }

    .acordion-body {
        width: 100% !important;
    }

    .accordion-body {
        padding: 0;
        padding-top: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 0;
    }

    .crd-bdy h5 {
        font-size: 13px;
    }

    .stu-title h5 {
        font-size: 17px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .crd-bdy h5 {
        font-size: 18px;
    }
}